body{
    background-color: #32174d;
    
}
h1{font-family: sans-serif;}

.picture{
    float: right;
}
span{
    color: purple;
}
.stuffs{
    color: white
}
.things{
    color: white;
}
.learners{
    color: white;
}
