body{
    background-image
    
}
h1{font-family: sans-serif;}

.picture{
    float: right;
}
span{
    color: purple;
}
.stuffs{
    margin-bottom: 800px;
}
.things{
    text-align: justify;
}